default_install_hook_types: [commit-msg, pre-commit, pre-push]
default_stages: [pre-commit]

repos:
  ### ? COMMIT-MSG  ###
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.8.3
    hooks:
      - id: commitizen

  ### ? GENERAL  ###
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: check-xml
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-ensure-ascii, --no-sort-keys]
      - id: check-added-large-files
        args: [--maxkb=10240]
      - id: check-executables-have-shebangs
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.27.2
    hooks:
      - id: gitleaks

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 3.2.1
    hooks:
      - id: editorconfig-checker
        alias: ec

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        additional_dependencies: [mdformat-gfm, mdformat-shfmt]

  ### ? YAML  ###
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [--format, parsable, --strict, -d, '{extends: relaxed, rules: {line-length: {max: 120}}}']
        exclude: templates

  - repo: https://github.com/lyz-code/yamlfix
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args: [-c, .yamlfix.toml]
        exclude: templates|Chart.yaml|.*lock.yaml|task-[45]

  ### ? SHELL  ###
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [-a, --format, gcc, -x]

  - repo: https://github.com/scop/pre-commit-shfmt
    # TODO: https://github.com/scop/pre-commit-shfmt/issues/39
    rev: v3.11.0-1
    hooks:
      - id: shfmt
        exclude_types: []

  ### ? K8S  ###
  - repo: https://github.com/stackrox/kube-linter
    rev: v0.7.4
    hooks:
      - id: kube-linter
